.result-item {
  display: flex;
  flex: auto;
}

.result-fade-enter-active,
.result-fade-leave-active {
  transition: opacity 0.5s;
  background-color: wheat;
}

.result-fade-enter,
.result-fade-leave-to {
  opacity: 0;
}
