<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
      <!-- This is cannonical redirection (www.uksivt.net -> uksivt.net). -->
        <rule name="CanonicalHostNameRule1">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^uksivt\.net$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://uksivt.net/{R:1}" />
        </rule>

        <!-- This redirection for correctly Vue-Router work (because Vue application MUST be started via Index.html), or you'll get 404. -->
        <rule name="Vue Router" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

        <!-- Place for further rules... -->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
