.altered-element {
  text-decoration: underline solid;
  text-decoration-thickness: 2px;
  background-color: dodgerblue;
}

tr.data-is-empty > td:nth-child(2) {
  text-align: center;
}

@media (max-width: 480px) {
  .non-hidable-item {
    cursor: help;
  }

  .hidable-item {
    display: none;
  }
}
