.settings-control-parent {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.settings-control-panel {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin: 16px;

  align-self: center;
  gap: 2.5%;

  padding: 2.16rem;

  border: solid 2.74px;
}

.settings-selector {
  justify-content: center;
  text-align: center;
}
